.card-fixed-height {
    padding: 10px;
    margin-bottom: 10px;
    height: 24vw;
    overflow: hidden;
}
.card-generic {
    background-color: #f4f4f4;
}


.card-common {
    border: 1px solid #39c751;
    -moz-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    background: linear-gradient(70deg, #70c174, #ccf7d0);
}

.card-rare {
    border: 1px solid #59b7e8;
    -moz-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    background: linear-gradient(70deg, #2f9bd5, #ccf6f7);
}

.card-epic {
    border: 1px solid #8826da;
    -moz-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    background: linear-gradient(70deg, #8f66b4, #e3ccf7);
}

.img-shadow {
    -moz-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 3px 2px 3px rgba(0,0,0,.5);
    box-shadow: 3px 2px 3px rgba(0,0,0,.5);
}

.p-small {
    font-size: 10pt;
}
